.card-my-pokedex.card {
  background-color: #f3f4f7;
}

.card-my-pokedex.card:hover {
  box-shadow: 1px 1px 2px #d5d6dc;
}

.card-my-pokedex .card-title {
  font-family: Gaegu;
  font-size: 28px;
}

.card-my-pokedex .action {
  cursor: pointer;
  color: #dc7777;
  opacity: 0;
}

.card-my-pokedex:hover .action {
  opacity: 1;
}
.bg-level {
  background-color: 
  #f3701a !important;
}